.contact {
  padding: 6rem 0;
  background-color: var(--bg-color);
}

.contact-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.contact-photo {
  flex: 1;
  max-width: 380px;
}

.contact-photo img {
  width: 100%;
  border-radius: 22px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.contact-content {
  flex: 1.2;
}

.contact-content h2 {
  font-family: 'Unbounded', cursive;
  font-size: 2.2rem;
  color: var(--title-color);
  margin-bottom: 1.5rem;
  text-align: left;
}

.contact-text {
  max-width: 60ch;
  margin-bottom: 2rem;
  text-align: justify;
}

.contact-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-text {
    text-align: left;
  }

  .contact-photo {
    max-width: 300px;
  }
}
